@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    background-image: linear-gradient(to right, rgb(32, 0, 21), rgb(4, 0, 15));
    color: #fff;
}

header {
    background-image: linear-gradient(to right, rgb(17, 0, 11), rgb(2, 0, 8));
}

header .menu {
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .menu .logo, header .menu .busca {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header .menu .busca input[type='search'] {
    padding: 5px;
    outline: 0;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

header .menu .busca input[type='search']:focus {
    width: 260px;
}

header .menu .busca button {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    background-color: #fff;
}

/* area busca */
.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.busca h1 {
    margin-top: 20px;
}

.busca .resultado-busca  {
    margin-top: 10px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.busca .resultado-busca .resultado-busca-item {
    /* width: calc(1200px / 5); */
    /* margin-top: 5px; */
    border: 1px solid #444;
    border-radius: 10px;
    margin: 5px 10px;
}

.busca .resultado-busca .resultado-busca-item .link-item-listagem {
    text-decoration: none;
    color: #fff;
}

.busca .resultado-busca .resultado-busca-item img {
    width: 220px;
    height: 146px;
    border-radius: 10px 10px 0 0;
}

.busca .resultado-busca .resultado-busca-item .area-info {
    padding: 5px;
}

.busca .resultado-busca .resultado-busca-item .fa-star {
    color: rgb(201, 201, 0);
    text-decoration: none;
}

.busca .resultado-busca .resultado-busca-item .fa-star:hover {
    color: yellow;
}

/* footer area */

footer .footer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, rgb(17, 0, 11), rgb(2, 0, 8));
    margin-top: 20px;
}