@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 0, 15);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(17, 0, 11);
    border-radius: 10px;
}

header {
    background-image: linear-gradient(to right, rgb(17, 0, 11), rgb(2, 0, 8));
}

header .menu {
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .menu .logo, header .menu .busca {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header .menu .busca input[type='search'] {
    width: 285px;
    padding: 5px 8px;
    outline: 0;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

header .menu .busca input[type='search']:focus {
    border: 1px solid #000;
}

header .menu .busca input[type='search']::-webkit-input-placeholder {
    color: #333;
}

/* section busca */

.section-busca .title {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.section-busca .title h1 {
    font-size: 25px;
}

.section-busca .resultado-busca  {
    margin-top: 10px;
    padding-bottom: 10px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    overflow: auto;
}

.section-busca .resultado-busca .resultado-busca-item {
    width: calc(1200px / 5);
    height: 240px;
    border-radius: 10px;
    margin: 10px 10px;
}

.section-busca .resultado-busca .link-item-listagem {
    text-decoration: none;
    color: #fff;
}

.section-busca .resultado-busca .link-item-listagem:hover .area-info {
    border: 1px solid #fff;
}

.section-busca .resultado-busca .resultado-busca-item .area-info {
    width: inherit;
    height: inherit;
    padding: 180px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, black, transparent);
    border-radius: 10px;
    border: 1px solid #444;
    transition: .3s;
}

.section-busca .resultado-busca .resultado-busca-item .area-info span {
    font-size: 14px;
    color: rgb(255, 243, 79);
}

.section-busca .resultado-busca .resultado-busca-item .area-info .fa-star {
    color: rgb(255, 243, 79);
    font-size: 14px;
}


/* footer area */

footer .footer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, rgb(17, 0, 11), rgb(2, 0, 8));
    margin-top: 20px;
}

/* medias */

@media (max-width: 1024px) {
    header .menu {
        padding: 0 70px;
    }
}

@media (max-width: 500px) {
    header .menu {
        padding: 10px;
    }
    header .menu .logo {
        margin-left: 10px;
    }
    header .menu .busca i {
        right: 220px;
    }
    .busca h1 {
        margin-left: 0;
        text-align: center;
    }
    .section-busca {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    header .menu .busca input[type="search"] {
        width: 180px;
    }
}

@media (max-width: 375px) {
    header .menu .logo h2 {
        font-size: 25px;
    }
    header .menu .busca i {
        right: 160px;
    }
}