@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a6150d;
    border-radius: 10px;
}

.preload {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.preload .area-load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preload .area-load .load {
    color: #a6150d;
    width: 40px;
    height: 40px;
    border: 6px solid #a6150d;
    border-top-color: #fff;
    border-radius: 50%;
    animation: is-rotating 1s infinite;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .menu {
    height: 80px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header .menu .logo, header .menu .busca {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header .menu .busca input[type='search'] {
    width: 285px;
    padding: 5px 8px;
    outline: 0;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

header .menu .busca input[type='search']:focus {
    border: 1px solid #000;
}

header .menu .busca input[type='search']::-webkit-input-placeholder {
    color: #333;
}

/* sessao banner */

.section-banner {
    width: 100%;
    height: 100vh;
}

.section-banner .section-item img {
    width: 100%;
    height: 100vh;
}

.section-banner .section-item .section-banner-info {
    width: 450px;
    position: absolute;
    top: 250px;
    left: 70px;
    z-index: 99;
}

.section-banner .section-item .section-banner-info h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.section-banner .section-item .section-banner-info p {
    font-size: 18px;
}

.section-banner .section-item .section-banner-info .section-banner-info--avaliacao {
    margin-bottom: 20px;
    margin-top: 10px;
}

.section-banner .section-item .section-banner-info 
.section-banner-info--avaliacao span {
    color: rgb(255, 243, 79);
}

.section-banner .section-item .section-banner-info a {
    text-decoration: none;
    width: 100px;
    background-color: #a6150d;
    padding: 8px 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s;
}

.section-banner .section-item .section-banner-info a:hover {
    background-color: #300906;
    color: #fff;
}

.section-banner .section-item .shadow-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, transparent, black);
}

.section-banner .section-item .shadow-vertical {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent, #000);
}

/* listagem dos filmes */

.main .title-main {
    margin-top: 40px;
    margin-left: 70px;
}

.main .listagem {
    margin-top: 10px;
    margin-left: 60px;
    padding-bottom: 10px;
    max-width: 1200px;
    display: flex;
    overflow: auto;
}

.main .listagem .link-item-listagem {
    text-decoration: none;
    color: #fff;
}

.main .listagem .link-item-listagem:hover .area-info {
    border: 1px solid #fff;
}

.main .listagem .item-listagem {
    width: calc(1200px / 5);
    height: 240px;
    border-radius: 10px;
    margin: 5px 10px;
}

.main .listagem .item-listagem .area-info {
    width: inherit;
    height: inherit;
    padding: 180px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, black, transparent);
    border-radius: 10px;
    border: 1px solid #444;
    transition: .3s;
}

.main .listagem .item-listagem .area-info span {
    font-size: 14px;
    color: rgb(255, 243, 79);
}

.main .listagem .item-listagem .fa-star {
    color: rgb(255, 243, 79);
    font-size: 14px;
    text-decoration: none;
}

/* sessao filmes mais avaliados */

.section-single .title-section-single {
    margin-top: 40px;
    margin-left: 70px;
}

.section-single .listagem {
    margin-top: 10px;
    max-width: 1200px;
    display: flex;
    margin-left: 60px;
    padding-bottom: 10px;
    overflow: auto;
}

.section-single .listagem .item-listagem {
    width: calc(1200px / 5);
    height: 240px;
    border-radius: 10px;
    margin: 5px 10px;
}

.section-single .listagem .link-item-listagem {
    text-decoration: none;
    color: #fff;
}

.section-single .listagem .link-item-listagem:hover .area-info {
    border: 1px solid #fff;
}

.section-single .listagem .item-listagem .area-info {
    width: inherit;
    height: inherit;
    padding: 180px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, black, transparent);
    border-radius: 10px;
    border: 1px solid #444;
    transition: .3s;
}

.section-single .listagem .item-listagem .area-info span {
    font-size: 14px;
    color: rgb(255, 243, 79);
}

.section-single .listagem .item-listagem .fa-star {
    color: rgb(255, 243, 79);
    font-size: 14px;
    text-decoration: none;
}

/* sessao view filme */

.section-view-filme .single {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, black, rgba(0,0,0,0.3));
}

.section-view-filme .area-shadow .area-section-view-filme {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 250px;
}

.section-view-filme .area-shadow .area-section-view-filme h1 {
    font-size: 40px;
    font-weight: bold;
}

.section-view-filme .area-shadow .area-section-view-filme p {
    margin: 10px 0;
    font-size: 18px;
    width: 450px;
}

.section-view-filme .area-shadow .area-section-view-filme span {
    color: #ccc;
    margin-bottom: 5px;
}

.section-view-filme .area-shadow .area-section-view-filme .rate-movie span {
    color: rgb(255, 243, 79);
    text-decoration: none;
}

.section-view-filme .area-shadow .area-section-view-filme .area-btns {
    width: 100%;
    display: flex;
    gap: 10px;
}

.section-view-filme .area-shadow .area-section-view-filme .area-btns button {
    width: 100px;
    background-color: #a6150d;
    padding: 8px 20px;
    margin-top: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}

.section-view-filme .area-shadow .area-section-view-filme button:hover {
    background-color: #300906;
}

.section-view-filme .area-shadow .area-section-view-filme .area-btns button.btn-open-modal-rate-movie {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.single .area-shadow .area-trailer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    z-index: 1000;
}

.single .area-shadow .area-trailer button {
    padding: 10px;
    background-color: #a6150d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
}

.single .area-shadow {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    position: absolute;
    top: 0;
    left: 0;
}

.section-view-filme .shadow-rate-movie {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie {
    width: 300px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #a6150d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .title h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .label {
    margin-bottom: 20px;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .stars .item-star {
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .stars .item-star.chosen-star {
    color: rgb(255, 243, 79);
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .area-btn-send button {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    background-color: #a6150d;
    color: #fff;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    transition: .2s;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .area-btn-send button:hover {
    background-color: #300906;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .area-btn-close-modal {
    display: flex;
    justify-content: center;
}

.section-view-filme .shadow-rate-movie .modal-rate-movie .area-avaliacao .area-btn-close-modal button {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    margin-top: 20px;
}

/* footer geral area */

footer .footer-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000;
}

@media (min-width: 1440px) {
    header .menu {
        max-width: none;
        padding: 0 70px;
    }
    .main .listagem {
        margin-right: 60px;
        max-width: none;
    }
    .section-single .listagem {
        margin-right: 60px;
        max-width: none;
    }
}

@media (max-width: 1024px) {
    header .menu {
        padding: 0 70px;
    }
    .section-view-filme .area-shadow .area-section-view-filme {
        padding-left: 70px;
    }
}

@media (max-width: 768px) {
    .section-banner .section-item .section-banner-info {
        top: 200px;
        width: 350px;
    }
    .section-view-filme .area-shadow .area-section-view-filme {
        padding-top: 180px;
    }
    .section-view-filme .area-shadow .area-section-view-filme p {
        width: 350px;
    }
}

@media (max-width: 630px) {
    .single .area-shadow .area-trailer {
        width: 400px;
        height: 320px;
    }
    .single .area-shadow .area-trailer iframe {
        width: 400px;
        height: 320px;
    }
}

@media (max-width: 500px) {
    header .menu {
        padding: 10px;
    }
    header .menu .logo {
        margin-left: 10px;
    }
    header .menu .busca i {
        right: 220px;  
    }
    .section-banner .section-item .section-banner-info {
        left: 10px;
        margin-left: 10px;
    }
    .section-view-filme {
        background-position: center;
    }
    .section-view-filme .area-shadow .area-section-view-filme {
        padding: 150px 10px 0 10px;
    }
    .section-view-filme .single .area-shadow .area-section-view-filme h1 {
        font-size: 30px;
    }
    .section-view-filme .area-shadow .area-section-view-filme p {
        width: 100%;
        font-size: 15px;
    }
    .section-view-filme .area-shadow .area-section-view-filme .area-btns button {
        width: 50%;
    }
}

@media (max-width: 425px) {
    header .menu .busca input[type="search"] {
        width: 180px;
    }
    .section-banner {
        height: 400px;
    }
    .section-banner .section-item img {
        height: 400px;
    }
    .section-banner .section-item .section-banner-info {
        top: 150px;
        width: 250px;
    }
    .section-banner .section-item .section-banner-info h2 {
        font-size: 30px;
    }
    .section-banner .section-item .section-banner-info p {
        font-size: 15px;
    }
    .section-banner .section-item .section-banner-info--avaliacao {
        font-size: 13px;
    }
    .section-banner .section-item .shadow-horizontal,
    .section-banner .section-item .shadow-vertical {
        height: 400px;
    }
    .main .title-main {
        margin-left: 20px;
    }
    .main {
        padding-top: 30px;
    }
    .main .title-main h2 {
        font-size: 22px;
    }
    .main .listagem {
        margin-left: 10px;
    }
    .section-single .listagem {
        margin-left: 10px;
    }
    .section-single .title-section-single {
        margin-left: 20px;
    }
    .section-single .title-section-single h2 {
        font-size: 22px;
    }
}

@media (max-width: 375px) {
    header .menu .logo h2 {
        font-size: 25px;
    }
    header .menu .busca i {
        right: 160px;  
    }

    .single .area-shadow .area-trailer {
        width: 300px;
        height: 200px;
    }
    .single .area-shadow .area-trailer iframe {
        width: 300px;
        height: 300px;
    }
}